// app global css in Sass form

@font-face
  font-family: lb
  src: url(../font/TTLakes-Black.ttf)

@font-face
  font-family: tr
  src: url(../font/tr.ttf)


@font-face
  font-family: ttbold
  src: url(../font/ttbold.ttf)

@font-face
  font-family: lcb
  src: url(../font/lcb.ttf)

@font-face
  font-family: lcm
  src: url(../font/TTLakes-Medium.ttf)

.container
  padding: 0 15px

@media (min-width: 0px)
  .container
    max-width: 975px
    margin: 0 0 48px 0
  .title
    font-size: 60px
    line-height: 60px
    margin: 19px 0 19px 0
  .pho-btn-med
    .q-btn__wrapper
      padding: 4px 16px 4px 16px
      min-height: auto

@media (min-width: 599px)
  .container
    max-width: 975px
    margin: 48px auto
  .title
    font-size: 70px
    line-height: 60px
    margin: 19px 0 19px 0

@media (min-width: 1023px)
  .container
    max-width: 975px
  .title
    font-size: 120px
    margin: 112px 0 79px
  .pho-btn-med
    .q-btn__wrapper
      padding: 4px 16px
      min-height: auto


@media (min-width: 1439px)
  .container
    max-width: 1240px
    margin: 0 auto
  .title
    font-size: 120px
    margin: 112px 0 79px

@media (min-width: 1919px)
   .container
       max-width: 1400px

body
  font-family: tr
.bold
  font-family: ttbold

.q-dialog__inner--minimized
    padding: 5px
h6
  margin: 10px 0

h1
  font-family: lb
  font-style: italic
  font-weight: 900
  font-size: 120px
  line-height: 120px
  color: #fff
  margin: 0
