// app global css in Sass form

@font-face
  font-family: lb
  src: url(../font/TTLakes-Black.ttf)

@font-face
  font-family: tr
  src: url(../font/tr.ttf)


@font-face
  font-family: ttbold
  src: url(../font/ttbold.ttf)

@font-face
  font-family: lcb
  src: url(../font/lcb.ttf)

@font-face
  font-family: lcm
  src: url(../font/TTLakes-Medium.ttf)

.container
  padding: 0 15px

@media (min-width: 575.98px)
  .container
    max-width: 540px
    margin: auto
    padding: 0


@media (min-width: 767.98px)
  .container
    max-width: 720px


@media (min-width: 991.98px)
  .container
    max-width: 960px

@media (min-width: 1199.98px)
  .container
    max-width: 1140px

body
  font-family: tr
.bold
  font-family: ttbold

.q-dialog__inner--minimized
    padding: 5px
h6
  margin: 10px 0
